<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/css/style.css' />
        <link rel='stylesheet' href='/css/dashboard.css' />
        
    </head>
    <body>
        <% include nav %>
        
        <% include flash %>
        
        <div class="container">
        
            <div class="page-header">
              <h2>The page '<%= url%>' Could not be found</h1>
            </div>

        </div>
        
        <% include bootstrap %>
    </body>
</html>