<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/css/style.css' />

    <% include bootstrap %>
  </head>
  <body>
    <% include nav %>

    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p>It seems we have everythign configured now</p>
    
  </body>
</html>