<!DOCTYPE html>
<html>
  <head>
    <title>Setup Your Trade Bot</title>
    <link rel='stylesheet' href='/css/style.css' />
    
    <% include bootstrap %>
  </head>
  <body>

    <% include nav %>

    <div class="jumbotron">
      <div class="container-fluid">
        <h1>Rybot BTC-e Trade Bot Setup</h1>
        <p>We've detected that this is either your first time running the trade bot or there is no admin user set up.</p>
        <p>Let's get your new bot set up! there are a few things we need before the bot can start tradeing. fill out the information below to continue</p>
      </div>
    </div>

    <% include flash %>

    <div class="container-fluid">
      <form class="form-horizontal" role="form" method="POST" action="/setup">
        <div class="row">

          <div class="col-lg-8  col-md-8 col-sm-10">

            <div class="form-group">
              <h4>Admin User to Create</h4>
              
              <div class="form-group">  
                <label for="user" class="col-lg-2 col-md-2 col-sm-3 control-label">Username</label>
                <div class="col-lg-6 col-md-6 col-sm-7">  
                  <input type="text" class="form-control" name="user[name]" id="user" placeholder="Username" required autofocus />
                </div>
              </div>

              <div class="form-group">  
                <label for="pass" class="col-lg-2 col-md-2 col-sm-3 control-label">Password</label> 
                <div class="col-lg-6 col-md-6 col-sm-7"> 
                  <input type="password" class="form-control" name="user[pass]" id="pass" placeholder="Password" required /> 
                </div>
                
              </div>
              
              <div  class="form-group">
                <label for="pass" class="col-lg-2 col-md-2 col-sm-3 control-label">Confirm Password</label> 
                <div class="col-lg-6 col-md-6 col-sm-7"> 
                  <input type="password" class="form-control" name="user[pass_confirm]" id="pass" placeholder="Password" required /> 
                </div>
              </div>

            </div>

            <div class="form-group">
              <h4>Bot Settings</h4>

              <div class="form-group">  
                <label for="name" class="col-lg-2 col-md-2 col-sm-3 control-label">Bot Name</label>  
                <div class="col-lg-6 col-md-6 col-sm-">
                  <input type="text" class="form-control" name="app[name]" id="name" placeholder="Name"  required 
                    <% if (config.name) { %>
                      value="<%=  config.name %>"
                    <% } %>
                  /> 
                </div>  
              </div>

            </div>
            
          </div>
        
        </div>

        
        <div class="form-group">  
          <div class="col-lg-10 col-md-10 col-sm-10">  
            <button type="submit" class="btn btn-primary" name="setup" value="setup">Submit</button>  
          </div>  
        </div>
        

      </form>
    </div>
      
    
  </body>
</html>
