.cchart { background:#eee; text-align:left; white-space:nowrap; overflow:auto }
.cchart div { box-sizing:border-box; -moz-box-sizing:border-box; }
.box {
	display:inline-block;
	width:6px; margin-right:1px;
	position:relative; vertical-align:bottom;
	border:1px solid #ccc; border-width:1px 0;
}
.box:before {
	content:'';
	position:absolute; height:100%; left:49%;
	border-left:1px solid #000;
}
.range {
	position:absolute; 
    width:100%;
	border:1px solid #390; 
    background:#6f0;
    fill: #6f0;
    stroke: #390;
}
.range.fall { 
    border-color:#c00; 
    background:#f33; 
    fill: #f33;
    stroke: #c00;
}

.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
 
}